h1 {
    color: orangered;
}
img {
    width:400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background: magenta;
    padding: 50px;
    border: whitesmoke dotted 10px
}
#spanId {
    font-size: 18px;
    margin:50px;
}